/* COLORS */
:root {
  --main-bcgclr: #ffffff;
  --main-textclr: #757575;
  --h-clr: #212121;
  --accent: #2196f3;
  --footer: #2f303a;
  --titlesection: #e5e5e5;
  --activitysection: #f5f4fa;
  --portfoliosection: #eeeeee;
  --footeraddress: rgba(255, 255, 255, 0.6);
}
/* fundamentals */
body {
  color: var(--main-textclr);
  background-color: var(--main-bcgclr);
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--h-clr);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.activity-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 50px;
}

/* HEADER */
.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: left;
}
/* Logo */

.header-logo {
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--h-clr);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.header-logo .header-logo-first {
  color: var(--accent);
}
.logo .logo-second {
  color: var(--main-bcgclr);
}
/* Nav */
.header-nav {
  display: flex;
}
.header-item:not(:last-child) {
  padding-right: 50px;
}
.header-nav a {
  color: var(--h-clr);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.header-nav {
  padding-left: 93px;
}
.header-nav a:hover,
.header-nav a:focus {
  color: var(--accent);
}
.header-nav .nav-studio {
  color: var(--accent);
}
.header-nav .nav-portfolio {
  color: var(--accent);
}
.header-nav-studio {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Feedback */

.header-feedback {
  display: flex;
  padding-left: 0;
  margin-left: auto;
}
.header-feedback-contacts:nth-child(2) {
  padding-left: 30px;
}

.header-feedback a {
  color: inherit;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.header-feedback a:hover,
.header-feedback a:focus {
  color: var(--accent);
}
.feedback-contacts {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* STUDIO */

/* HERO section  */

.hero {
  background-color: var(--footer);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  max-width: 1600px;
  color: var(--main-bcgclr);
}

.hero-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--titlesection);
}
.hero-button {
  display: block;
  min-width: 200px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--main-bcgclr);

  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--accent);
  cursor: pointer;
}

/* SPECS section  */

.specs-list {
  display: flex;
}
.specs-item:not(:last-child) {
  margin-right: 30px;
}
.specs-forth {
  margin: 0px;
}

.specs-title {
  background-color: var(--titlesection);
}
.specs-elements {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}
.specs-elements-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* ACTIVITY section */

.activity {
  padding-top: 0;
}
.activity-list {
  display: flex;
  justify-content: center;
}
.activity-cards {
  margin-right: 30px;
}

.stuff {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

/*TEAM section */

.team {
  text-align: center;
  background-color: var(--activitysection);
}

.team-list {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.team-cards {
  border: 1px solid rgba(238, 238, 238, 1);
}

.team-cards:not(:last-child) {
  margin-right: 30px;
}
.team-cards:last-child {
  margin: 0px;
}
.team-cards {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.stuff {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}
.position {
  text-align: center;
  padding-bottom: 30px;
}

/* PORTFOLIO */

/* MAIN section */
*/ .portfolio {
  background-color: var(--portfoliosection);
}

.tools {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.tools-button + .tools-button {
  margin-left: 8px;
}
.tools button {
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  color: var(--h-clr);
  background-color: var(--activitysection);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
}
.tools button:hover,
.tools button:focus {
  color: var(--main-bcgclr);
  background-color: var(--accent);
}

.example-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}
.example-element {
  width: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.example-element:nth-child(3n) {
  margin-right: 0px;
}
.example-content {
  padding: 20px 20px 24px 24px;
}

.example {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-activity {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

/* FOOTER */
.footer {
  background-color: var(--footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}

/* contacts */

.footer-contacts a {
  color: var(--footeraddress);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--main-bcgclr);
}
.footer-contacts .footer-contacts {
  color: var(--main-bcgclr);
}
.footer-address:not(:last-child) {
  margin-bottom: 9px;
}
.footer-logo-second {
  color: var(--activitysection);
}
