/* COLORS */
:root {
  --main-bcgclr: #ffffff;
  --main-textclr: #757575;
  --h-clr: #212121;
  --accent: #2196f3;
  --footer: #2f303a;
  --titlesection:  #E5E5E5; 
  --activitysection: #F5F4FA; 
  --portfoliosection: #EEEEEE; 
  --footeraddress: rgba(255,255,255,0.6);   
}
/* fundamentals */
body {
  color: var(--main-textclr);
  background-color: var(--main-bcgclr);
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif 
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-clr);
}
ul {
  list-style: none;
}
body p ul  {
  margin: 0px;
}


.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* HEADER */

.page-header {
  border: 1px solid #ececec;
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  margin-right: 156px;

  color: var(--h-clr);
  text-decoration:none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo .logo-first {
  color: var(--accent);
}
.logo .logo-second {
  color: var(--main-bcgclr);
}  
/* Nav */
.nav {
  display: flex;
}
.nav .item + .item {
  margin-left: 50px;
}
  .nav a {
  color: var(--h-clr);
  text-decoration:none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav a:hover,
.nav a:focus {
  color: var(--accent);
}
.nav .nav-studio {
  color: var(--accent);
}
.nav .nav-portfolio {
  color: var(--accent);
}



/* Feedback */
.feedback {
  display: flex;
  margin-left: auto;
}
.feedback .feedback-contacts +.feedback-contacts {
   margin-left: 50px;
}

.feedback a {
  color: inherit;
  letter-spacing: 0.02em;
  text-decoration:none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.feedback a:hover,
.feedback a:focus {
  color: var(--accent);
}




/* STUDIO */


/* TITLE section  */

.main {
  background-color: var(--footer);
}

.title {
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
  padding-bottom: 30px;
   color: var(--main-bcgclr);
   text-transform: uppercase;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.4;
   letter-spacing: 0.06em;
   text-align: center;
}

.service {
  margin-bottom: 200px;
  margin-right: 700px;
  margin-left: 700px;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--main-bcgclr);
  background-color: var(--accent);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
}
.activity, .specs, .team {
  font-weight: 700;
  font-size: 36;
  line-height: 1.7;
  text-align: center;
}



/* SPECS section  */


.specs-list {
  display: flex;
}
.specs-first {
margin-right: 12px;
}
.specs-second {
  margin-right: 48px;
}
.specs-third {
  mzrgin-right:30px;
}
.specs-forth {
  margin: 0px;
}
.specs-elements {
  margin-right: 0px;
}

.specs {
  background-color: var(--titlesection);
}
.elements {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
} 
.elements-descr {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
  }


  /* ACTIVITY section */

.activity-list {
  display: flex;
  justify-content: center;
}
.activity-cards {
  margin-right: 30px;
}

.activity {
  background-color: var(--activitysection);
}

.stuff {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.position {
  font-weight: 400;
  font-size: 16px;
   line-height: height 1.9
   text-align: center;
}

/*TEAM section */

.team {
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.team-cards:not(:last-child) {
}
.team-cards:last-child {
  margin: 0px;
}
.stuff {
  text-align: center;
}
.position {
  text-align: center;
}



/* PORTFOLIO */

/* MAIN section */ */

.portfolio {
  background-color: var(--portfoliosection);
}
.tools {
  display: flex;
  justify-content: center;
}
.tools-button  + .tools-button {
  margin-left: 8px;
}
.tools button {
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  color: var(--h-clr);
  background-color: var(--activitysection);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: inherit;
}
.tools button:hover,
.tools button:focus {
  color: var(--main-bcgclr);
  background-color: var(--accent);
}

.example-container {
    display: flex;
  flex-wrap: wrap;
}
.example-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
}
.example-element:nth-child(3n) {
  margin-right: 0px;
}


.example {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-activity {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}





/* FOOTER */

.footer .logo {
  margin-top: 60px;
}

.footer {
  background-color: var(--footer);
}

/* contacts */
.contacts {
  padding-bottom: 60px;
}
.contacts a {
  margin-top: 20px;
  color: var(--footeraddress);
  font-weight: 400;
  font-size:  14px;
  line-height: 1.7;  
  font-style: normal;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--main-bcgclr);
}
.contacts a {
  text-decoration: none;
}
.contacts .contacts-address {
  color: var(--main-bcgclr);
}



